# 数据类型转换

In [5]:
name='张三'
age=20
print(type(name),type(age))

#说明name和age的数据类型不相同

print('我叫'+name+'今年,'+str(age)+'岁')
#str是将其它的类型转换成字符串
#此时这个+号是连接符，将int类型通过str()函数转成了str类型

<class 'str'> <class 'int'>
我叫张三今年,20岁

## str()将其它类型专程str类型

In [6]:
a=10
b=198.8
c=False
print(type(a),type(b),type(c))

<class 'int'> <class 'float'> <class 'bool'>

In [7]:
print(str(a),str(b),str(c))

10 198.8 False

In [10]:
print(str(a),str(b),str(c),type(str(a)),type(str(b)),type(str(c)))
#此时我们会发现都变成了 str类型

10 198.8 False <class 'str'> <class 'str'> <class 'str'>

## int()将其它的类型转int类型

In [10]:
s1='128'
f1=98.7
s3='76.77'
ff=True #float类型
s2='hello'#也是不能转的，将str类型转成int类型，字符串必须为数字串，整数
#非数字串是不允许转换的
print(type(s1),type(f1),type(s2),type(ff),type(s2))
print(int(s1),type(int(s1)))
print(int(f1),type(int(f1)))
print(int(ff),type(int(ff)))
#print(int(s3),type(int(s3)))
#将str转成int类型，报错，因为字符串为小数串，所以会报错

<class 'str'> <class 'float'> <class 'str'> <class 'bool'> <class 'str'>
128 <class 'int'>
98 <class 'int'>
1 <class 'int'>

ValueError: invalid literal for int() with base 10: '76.77'

## float函数转换

In [11]:
#将其它数据去转换成float

In [12]:
s1='128'
f1=98.7
s3='76.77'
ff=True #float类型
s2='hello'
i=98
print(type(s1),type(f1),type(s3),type(ff),type(s2),type(i))

<class 'str'> <class 'float'> <class 'str'> <class 'bool'> <class 'str'> <class 'int'>

In [13]:
print(float(ff),type(float(ff)))

1.0 <class 'float'>

In [14]:
print(float(s2),type(float(s2)))
#字符串中的数据如果是非数字串，则不允许转换

ValueError: could not convert string to float: 'hello'